@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital@1&display=swap');

*{
    font-family: 'Grandstander', cursive;
}

body {
background-color: black;    
}


.postcard_container {
  background-color: white;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
}
.post-header{
    overflow: hidden;
}

.post-header h1{
    font-size: 26px;
    margin: 0;
}
.post-header img{
    max-width: 50px;
    float: right;
}

.post-body{
    overflow: hidden;
}

.post-left{
    float: left;
    width: 50%;
}

.form{
    width: 50%;
    float: right;
}

.form input{
    display: block;
    width: 80%;
    margin: 6px;
    padding: 4px;
    border: 0;
    border-bottom: 1px solid gray;    
}

.post-footer{
    padding: 8px;
    text-align: center;
}

.post-footer input{
    background-color: lightgray;
    border: 0;
    padding: 6px;
}


